// Architectures
SDKROOT = macosx

// Deployment
COPY_PHASE_STRIP = NO
MACOSX_DEPLOYMENT_TARGET = 10.14.4

// Packaging
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_ORGANIZATION_IDENTIFIER).$(TARGET_NAME:rfc1034identifier)
PRODUCT_NAME = $(PROJECT_NAME)

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO

// Versioning
CURRENT_PROJECT_VERSION = 3
MARKETING_VERSION = 1.0.2
VERSIONING_SYSTEM = apple-generic

// Clang - Code Generation
GCC_NO_COMMON_BLOCKS = YES
GCC_DYNAMIC_NO_PIC = NO

// Clang - Language - Modules
CLANG_ENABLE_MODULES = YES

// Clang - Language - Objective-C
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES

// Clang - Preprocessing
ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_PREPROCESSOR_DEFINITIONS = $(CONFIGURATION:upper:identifier)=1 $(inherited)

// Clang - Warnings
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES

// Clang - Warnings - C++
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES

// Clang - Warnings - Objective-C
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR

// Clang - Warnings - Objective-C & ARC
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

// Static Analyzer - Generic Issues
CLANG_ANALYZER_NONNULL = YES

// Static Analyzer - Issues - Apple APIs
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_LOCALIZABILITY_EMPTY_CONTEXT = YES
CLANG_ANALYZER_GCD_PERFORMANCE = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE

// Swift Compiler - Custom Flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(CONFIGURATION:upper:identifier)

// Swift Compiler - Language
SWIFT_VERSION = 5.1

// User-Defined
BASE_BUNDLE_IDENTIFIER = $(BASE_ORGANIZATION_IDENTIFIER).$(PROJECT_NAME:rfc1034identifier)
BASE_ORGANIZATION_IDENTIFIER = com.thecocoabots
BASE_ORGANIZATION_NAME = The CocoaBots
