// Build Options
APPLICATION_EXTENSION_API_ONLY = YES

// Deployment
COMBINE_HIDPI_IMAGES = YES
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
SKIP_INSTALL = YES
COPY_PHASE_STRIP = NO

// Linking
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks

// Packaging
DEFINES_MODULE = YES
INFOPLIST_FILE = Framework/Supporting Files/Info.plist
PRODUCT_NAME = $(PROJECT_NAME)Core

// Signing
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = HJKFVK94J4
ENABLE_HARDENED_RUNTIME = YES

