// Deployment
COMBINE_HIDPI_IMAGES = YES

// Linking
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks

// Packaging
INFOPLIST_FILE = Application/Supporting Files/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)
PRODUCT_NAME = $(PROJECT_NAME) Settings

// Signing
CODE_SIGN_ENTITLEMENTS = Application/Supporting Files/Application.entitlements
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = HJKFVK94J4
ENABLE_HARDENED_RUNTIME = YES

// Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
